<!DOCTYPE html>
<html>
  <head>
    <title>Question <%= questionNumber %></title>
    <link rel='stylesheet' href='/stylesheets/questionsStyle.css' />
  </head>
  <body>
    <header>

    </header>

    <main>
        <div>
            <h2 class="question"><%= questionPrompt %></h2>
        </div>

        <div class="score">
          <h3>Score: <%= score %>/<%= totalQuestions %></h3>
        </div>

        <form class="choices" id="choices" action="/questions/answer" method="post">
            <button class="choice" id="A" name="answer" value="A"><%= choiceA %></label>
            <button class="choice" id="B" name="answer" value="B"><%= choiceB %></label>
            <button class="choice" id="C" name="answer" value="C"><%= choiceC %></label>
            <button class="choice" id="D" name="answer" value="D"><%= choiceD %></label>
        </div>
    </main>

    <script src="./javascripts/questionsScript.js"></script>
  </body> 
</html>
