<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/resultsStyle.css' />
  </head>
  <body>
    <header>

    </header>

    <main>
      <div>
        <h3>Score: <%= score %> / <%= totalQuestions %></h3>
      </div>

      <div class="history">
        <% history.forEach((e, index) => { %>
           <div class="question-review">
            <p><strong><%= index + 1%>: <%= e.prompt %></strong></p>
            <p>Your Answer: <%= e.yourAnswer %></p>
            <p>Correct Answer: <%= e.answer %></p>
          </div>
        <% }) %>
      </div>

      <div class="retry">
          <a href="/?name=<%= name %>&email=<%= email %>&loggedIn=<%= loggedIn %>">
              <button>Retry</button>
          </a>
      </div>

      <div class="leaderboard">
        <h1>Top 10 Players</h1>
        <ol>
          <% leaderboard.forEach(player => { %>
            <li><%= player.name %> - <%= player.overallScore %> points</li>
          <% }) %>
        </ol>
      </div>
    </main>
  </body> 
</html>
